commands:
  get_tasks:
    command: |
      DIR="/home/ec2-user/tasks"
      rm -rf $DIR
      mkdir -p $DIR
      aws s3 cp s3://elasticbeanstalk-eu-central-1-997893130250/tasks/tasks.zip ./ --region eu-central-1
      unzip tasks.zip -d $DIR
      mkdir -p /home/ec2-user/conf
      htpasswd /home/ec2-user/conf/.htpasswd admin $TEACHERINTERFACE_PASSWD
