files: 
  "/etc/dd-agent/conf.d/docker.yaml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      init_config:
      instances:
        - url: "unix://var/run/docker.sock"
          new_tag_names: true
  "/etc/dd-agent/conf.d/nginx.yaml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      init_config:
      instances:
        - nginx_status_url: http://localhost:8888/nginx_status
  "/etc/dd-agent/datadog.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [Main]
      dd_url: https://app.datadoghq.com
      api_key: APIKEY 
      use_mount: no
      non_local_traffic: yes
container_commands:
  00_datadog_stop: 
    command: "/etc/init.d/datadog-agent stop"
    ignoreErrors: true
  01_gen_config: 
    command: 'sed -i -e "s/APIKEY/$DATADOG_API_KEY/" /etc/dd-agent/datadog.conf'
  02_datadog_setup:
    test: '[ -n "$DATADOG_API_KEY" ]'
    command: 'DD_API_KEY=$DATADOG_API_KEY bash -c "$(curl -L https://raw.githubusercontent.com/DataDog/dd-agent/master/packaging/datadog-agent/source/install_agent.sh)" '
  03_perm_for_datatog_docker_monitoring:
    test: '[ -n "$DATADOG_API_KEY" ]'
    command: "usermod -a -G docker dd-agent"
  04_relaunch: 
    test: '[ -n "$DATADOG_API_KEY" ]'
    command: "/etc/init.d/datadog-agent start"

